.tshirt-section {
    width: 200px;
    line-height: 30px;
    font-size: large;
}

.tshirt-section img {
    width: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.tshirt-section p p img {
    width: 80px;
}

.tshirt-section button {
    padding: 8px 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(125, 204, 6);
    color: white;
    font-size: large;
    cursor: pointer;
}

.tshirt-section button:hover {
    background-color: tomato;
}